<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dhf.dao.ShiroAuthenMapper" >
  <resultMap id="BaseResultMap" type="com.dhf.model.ShiroAuthen" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="key" property="key" jdbcType="VARCHAR" />
    <result column="value" property="value" jdbcType="VARCHAR" />
    <result column="remarks1" property="remarks1" jdbcType="VARCHAR" />
    <result column="remarks2" property="remarks2" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, key, value, remarks1, remarks2
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from shiro_authen
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from shiro_authen
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.dhf.model.ShiroAuthen" >
    insert into shiro_authen (id, `key`, `value`, 
      remarks1, remarks2)
    values (#{id,jdbcType=BIGINT}, #{key,jdbcType=VARCHAR}, #{value,jdbcType=VARCHAR}, 
      #{remarks1,jdbcType=VARCHAR}, #{remarks2,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.dhf.model.ShiroAuthen" >
    insert into shiro_authen
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="key != null" >
        `key`,
      </if>
      <if test="value != null" >
        `value`,
      </if>
      <if test="remarks1 != null" >
        remarks1,
      </if>
      <if test="remarks2 != null" >
        remarks2,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="key != null" >
        #{key,jdbcType=VARCHAR},
      </if>
      <if test="value != null" >
        #{value,jdbcType=VARCHAR},
      </if>
      <if test="remarks1 != null" >
        #{remarks1,jdbcType=VARCHAR},
      </if>
      <if test="remarks2 != null" >
        #{remarks2,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.dhf.model.ShiroAuthen" >
    update shiro_authen
    <set >
      <if test="key != null" >
        `key` = #{key,jdbcType=VARCHAR},
      </if>
      <if test="value != null" >
        `value` = #{value,jdbcType=VARCHAR},
      </if>
      <if test="remarks1 != null" >
        remarks1 = #{remarks1,jdbcType=VARCHAR},
      </if>
      <if test="remarks2 != null" >
        remarks2 = #{remarks2,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dhf.model.ShiroAuthen" >
    update shiro_authen
    set `key` = #{key,jdbcType=VARCHAR},
      `value` = #{value,jdbcType=VARCHAR},
      remarks1 = #{remarks1,jdbcType=VARCHAR},
      remarks2 = #{remarks2,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  
  <select id="selectAll" resultMap="BaseResultMap">
    select * from shiro_authen
  </select>
  
  <select id="selectIDAnd" resultMap="BaseResultMap">
    select * from shiro_authen where `key`=#{0} and `value`=#{1}
  </select>
  
  <select id="selectIDOr" resultMap="BaseResultMap">
    select * from shiro_authen where `key`=#{0} or `value`=#{1}
  </select>
  <delete id="deleteBykey" parameterType="String" >
    delete from shiro_authen where `key` = #{key,jdbcType=VARCHAR}
  </delete>
</mapper>